@using tvShowProject.Models.VM
@model ShowDetailsVM

<h1>in details</h1>
<p>@Model.Title</p>
@if (Model.Summary != null)
{
    <p>@Html.Raw(Model.Summary)</p>
}
@if (Model.ImageUrls != null)
{
    <img src="@Model.ImageUrls.Medium" />
}
<button type="button" onclick="getEpisodes(@Model.Id)">Episodes</button>
<div id="@($"episodeView{Model.Id}")"></div>

@*@if (Model.Episodes != null)
{
    @foreach (var episode in Model.Episodes)
    {
        <p>@episode.Name</p>
    }
}*@

