@using tvShowProject.Models.VM
@model ShowDetailsVM

<h1>in details</h1>
<p>@Model.Title</p>
<p>@Model.ExternalIds.Imdb</p>
<p>@Model.Summary</p>
<img src="@Model.ImageUrls.Medium" />
    
@if (Model.Episodes != null)
{
    @foreach (var episode in Model.Episodes)
    {
        <p>@episode.Name</p>
    }
}

