@using tvShowProject.Models.VM
@model UserPageVM

<div id="userPageNav">
    <a href="~/accounts/Settings">Account settings</a>
    <a href="~/accounts/LogOut">Log out</a>
</div>
<div id="myWrapper">
    <h1>Welcome @Model.Username</h1>
    <p>this is the user page, where the TV-show form will be displayed</p>
    @*<form asp-controller="Shows" asp-action="Search">*@
    <input asp-for="SearchString" id="searchBox" />
    @*<input type="submit" value="Search" />*@
    <button type="button" onclick="getSearchResult()">Search</button>
    @*</form>*@
    <div id="tmp">

    </div>
    @*--Gammal lösning spara tills vi bytt klart--*@
    @*<table>
            <thead>
                <tr>
                    <th><h3>Title</h3></th>
                    <th><h3>Latest Episode</h3></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FollowedShowItems)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>
                            <form asp-controller="Shows" asp-action="UnFollow" asp-route-tvMazeId="@item.Id">
                                <input type="submit" value="Unfollow" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Test...</p>
                            <a>Episodes</a>
                        </td>
                        <td colspan="2">
                            <p>test igen</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@

    @*--Ny variant, översätt till våra värden--*@
    @foreach (var item in Model.FollowedShowItems)
    {


        <div id="grandparent" class="list-group-item">
            <div id="expander" data-toggle="collapse" data-target="@($"#grandparentContent{item.Id}")" data-role="expander" data-group-id="grandparent">
                <table class="list-inline">
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.LatestEpisode</td>
                        <td>
                            <form asp-controller="Shows" asp-action="UnFollow" asp-route-tvMazeId="@item.Id">
                                <input type="submit" value="Unfollow" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="collapse" id="@($"grandparentContent{item.Id}")" aria-expanded="true">
                <table class="table">
                    <tbody>
                        <tr data-toggle="collapse" data-target="@($"#childOne{item.Id}")" onclick="getShowDetails(@item.Id)">
                            <td colspan="3">
                                <button type="button" onclick="getShowDetails(@item.Id)">Details</button>
                                <div id="detailsView"></div>
                            </td>
                        </tr>

                        <tr class="collapse" id="@($"childOne{item.Id}")">
                            <td></td>
                            <td>Child A</td>
                            <td>04/01/2017</td>
                            <td>04/05/2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<button type="button" onclick="getShowDetails()">Details</button>
<div id="detailsView"></div>